.sect-contact{
	address{
		margin-top: 0;
		margin-bottom: 20px;
		@media(min-width: 1024px){
			margin-bottom: 40px;
		}
		a{
			color: $c-main;
		}
		span{
			color: $c2;
		}
	}
}


.form-contact{
	margin-top: 0;
	// padding: 24px;
	// box-shadow: 0 0 10px #e1e2e2;
	&-heading{
		font-size: 28px;
		color: $c-white;
		margin-bottom: 15px;		
		text-transform: uppercase;
	}
	.form-control{
		border-radius: 0;
		padding-left: 20px;
		background:$c1;
		border: none;
		outline: none;
		@include placeholder{
    		color: $c-white;
    	}
    	&:focus{
    		box-shadow: none;
    	}
	}
	input.form-control{
		margin-bottom: 17px;		
		height: 50px;  	
    	
	}
	textarea{
		height: 110px;
		@media(min-width: 1024px){
			height: 190px;
		}
	}
	button[type="submit"],input[type="submit"]{
		border-radius: 50px;
		font-size: 15px;
		height: 41px;
		width: 174px;
		line-height: 41px;
		font-family: $f_bold;
		@media(max-width: 767px){
			display: block;
			width: 100%;
		}
	}
	.-btn-submit{
		font-size: 24px;
		text-align: center;
		padding: 5px 10px;
		height: auto;
		@media(max-width: 767px){
			display: block;
		}
	}
}
.contact-map{
	iframe{
		height: 100%;
		min-height: 250px;
		width: 100%;
		@media(min-width: 768px){
			height: 318px;
		}
		
	}
}
.success-note{
	display: none;
}
