.clr{
	clear: both;
}
/* begin note */
.note-danger {
    background-color: #fef7f8;    
    border-left: 5px solid #f0868e;    
}
.note-success {
    background-color: #c0edf1;    
    border-left: 5px solid #58d0da;
}
.note {   
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    display: none;        
    color: #000;
    text-transform: uppercase;
}
/* end note */
/* begin paging */
.page-numbers{
	list-style: none;
	margin-bottom: 0;
	margin-left: 0px;
	padding-left: 0;
	li{		
		float: left;
		margin-right: 5px;
		span{
			display: block;
			&.current{
				background-color:#ffffff;
				padding: 2px 11px;
				border-radius: 5px;
				color: #9f0000;
			}			
		}
		a{
			display: block;
			background-color:#9f0000;
			padding: 2px 10px;
			border-radius: 5px;
			color: #ffffff;
			@include p-web(transition , all 0.5s);
			&:hover{
				background-color: #ffffff;
				color: #9f0000;
			}
		}
	}
}
/* end paging */
/* begin ajax loader */
.ajax_loader{
	    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;    
    width: 16px;
    height: 16px;
    margin: 15px auto 0 auto;    
    display: none;

}
.ajax_loader_contact{
	    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;    
    width: 16px;
    height: 16px;
    margin-top:15px;
    margin-left: 15px;    
    display: none;
    float: left;

}
/* end ajax loader */
.cate-list-tab{
	ul{
		list-style: none;
		li{
			float:left;
			margin-right: 30px;
		}
	}	
}
.goc_chia_se_cs{
	li{
		a{
			&:after{
				content: '';
				height: 2px;
				width: 0;
				background: #9f0000;
				position: absolute;
				left: 3px;
				bottom: 0;
				transition: width 0.5s;
				-webkit-transition: width 0.5s;
				-moz-transition: width 0.5s;
				-ms-transition: width 0.5s;
				-o-transition: width 0.5s;
			}
		}
		&.current-menu-item{
			a{
				&:after{
					width: calc(100% - 6px);
				}
			}
		}	
	}
}
.bloginfo_name{
	text-transform: uppercase;
}
.memu-footer{
	li{
		a{
			font-size: 15px;
		}
	}
}
.guiwrapper{
	display: flex;
	align-items:center;
	justify-content:center;
}
.ajax_loader_1{
	    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;    
    width: 16px;
    height: 16px;    
    display: none;
    margin-left: 15px;
}
.btngui{
	a{
		display: block;
	}
}
.form-contact{
	input{
		&.form-control{
			color: #ffffff
		}
	}
}
.dmpd{
	list-style: none;	
	padding-left: 10px;
    padding-right: 10px;
	>li{
		position: relative;
		>a{
			border-bottom: 1px solid #000;
			display: block;
			padding: 10px 15px;
			font-size: 26px;
			text-transform: uppercase;
			font-family: $f2_df;
			position: relative;
			color: #e60000;						
		}	
		>button{
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 2;
			width: 20px;
			height: 25px;
			cursor: pointer;			
			font-size: 30px;
			outline: none;
			color: #e60000;		
			>i{
				&.fa-angle-down{
					@include p-web(transition,all 5s);
				}
				&.fa-angle-up{
					@include p-web(transition,all 5s);
				}				
			}
		}	
		>ul{
			list-style: none;			
			padding-left: 0;	
			display: block;		
			>li{
				>a{
					color: #ffffff;
					padding: 10px 30px;
					border-bottom: 1px solid #000;
					display: block;
					position: relative;
					&:hover{
						color: #ffce82;
					}
					&:before{
                        position: absolute;
                        content: '';
                        height: 4px;
                        width: 4px;
                        background: #fff;
                        border-radius: 50%;
                        left: 13px;
                        top: 50%;
                    }
				}
				button{
					display: none;
				}
			}
		}
	}	
}
.ul_filter{
	list-style: none;
	padding-left: 0;
	li{
		a{
			color: #ffffff
		}
	}
}
.single_cat_name{
	    font-size: 35px;
        
    color: #ffffff;
        font-family: "SFU Function",arial,serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}
.breadcrumb-box{
	text-align: center;
	border-bottom: 1px solid #9f0000;
	padding: 15px 0px;
	a{
		color: #ffffff;
	}
	span{
		color: #ffffff;
	}
}
.slogan-readmore{
		margin-top: 20px;
		text-align: center;		
		a{
			display: inline-block;
			color: #ffffff;
			font-size: 14px;
			font-family: $f_bold;
			padding: 10px 25px;
			background: transparent;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;				
			border: 1px solid rgba(255,255,255,0.9);
			border-radius: 50px;				
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;					
				width: 100%;
				height: 100%;
				background: #9f0000;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}