/*----color----*/

$c1:#9f0000;
$c2:#ffce82;
$c-main:#5a5a5a;
$c-des:#616161;
$c-date:#7f7f7f;
$c-active:#40930e;
$c-hot:#ffce82; 
$black:#000;
$c-white: rgba(255,255,255,0.9);


/*----background----*/

$bg1:$c1;
$bg2:$c2;
$bg-white: #fff;

/*----line----*/

$line1:#e60000;
$line2:#a9a9aa;
$line3:#d2d2d2;


$footer_facebook_social:#3b5998;
$footer_youtube_social:#be0a0a;
$footer_twitter_social:#45b0e4;
$footer_google_plus_social:#dd4b39;
$footer_copyright_border_top:#20414b;
$footer_golden_homes_color:#b58c41;